/* Global styles to prevent overflow */
body {
  overflow-x: hidden;
}

/* Ensure the sidebar and content layout are responsive */
.sidebar-wrapper {
  width: 100%;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto; /* Add scroll if content overflows */
  background-color: #343a40;
  color: #fff;
}

#sidebar .components {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar .components li {
  padding: 1rem;
}

#sidebar .components li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

#sidebar .components li a:hover {
  background-color: #495057;
}

/* Responsive adjustments for the content */
.col-md-10 {
  padding: 1rem;
}

.card {
  border: none;
}

/* Rating stars CSS */

.rating {
  display: flex;
  justify-content: start;
}

.star {
  font-size: 24px;
  cursor: pointer;
  margin-right: 5px;
}

.star.orange {
  color: orange;
}